/* general */

.color-orange{
    background-color: var(--bool-orange);
}
.color-purple{
    background-color: var(--bool-violet);
}
.color-lightgreen{
    background-color: var(--bool-lightgreen);
}
.color-pink{
    background-color: var(--bool-pink);
}
.color-green{
    background-color: var(--bool-green);
}
.color-azzure{
    background-color: var(--bool-azzure);
}
body{
    background-color: lightgrey;
}

:root{
    --bool-green: rgba(100, 192, 169, 1);
    --bool-azzure:rgba(76, 174, 234, 1);
    --bool-violet:rgba(156, 114, 228, 1);
    --bool-orange: rgba(242, 158, 51, 1);
    --bool-pink:rgba(216, 99, 160, 1);
    --bool-lightgreen:rgba(176, 201, 38, 1);
    --bool-shadow: rgba(0,0,0,0.2);
}
*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
     color: #676b72;
}
/* end general */


/* header */
header{
    padding: 0.5rem 2rem;
    background-color: white;
}
#logo{
    width: 70px;
    vertical-align: middle;
}
#logo-text{
    display: inline-block;
    font-size: 50px;
    font-weight: 710;
    color: rgba(41, 57, 78, 1);
    vertical-align: middle;
}
/* end header */


/* general of main */
#master-container{
 margin: 2rem 0;
 
}
.container{
    border-radius: 1.25rem;
    box-shadow: 0 0 10px var(--bool-shadow); 
    margin: auto;
    background-color: white;
    width: 1000px;
    margin-bottom: 2px;
    padding: 1rem 1rem;
}
/* /general of main */


/* head of main */
.button{
    font-size: 15px;
    padding: 0.7rem 1.1rem;
    border-radius: 7px;
    font-weight: bolder;
}
.azzure{
    background-color: var(--bool-azzure);
    border: none;
    color: white;
}
.white{
    background-color: white;
    color: var(--bool-shadow);
    border-color: var(--bool-shadow);
}
/* head of main */

/* corpe of main */
h2{
    color:black;
    font-size: 25px;
    font-weight: bolder;
}
.riquadri{
    font-weight: 600;
    font-size: 15px;
    color: white;
    border-radius: 18px;
    padding: 0.5rem 1rem;
}

.cross{
    
    color: red;
    padding: 0 0.3rem;
    border: 2px red solid;
    border-radius: 100%; 
}
.check{
    color: rgb(9, 245, 9);
    padding: 0 0.3rem;
    border: 2px rgb(9, 245, 9) solid;
    border-radius: 100%; 
}
.down-arrow{
    color: black;
}
section{
    margin: 2rem;
    line-height: 45px;
}
.list{
    list-style-type: none;
}
/* /corpe of main */